@font-face {
   font-family: 'futura light';
   src: url(fonts/futura_light.ttf);
 }
@font-face {
   font-family: 'futura';
   src: url(fonts/futura_medium.ttf);
 }
@font-face {
   font-family: 'futura bold';
   src: url(fonts/futura_bold.ttf);
 }
@font-face {
   font-family: 'grouch';
   src: url(fonts/grouch.ttf);
 }
