*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-align: center;
  letter-spacing: 5px;
}

p {
  font-family: $copy-font;
  // text-align: center;
  font-size: 18px;
  color: $copy-color;
}

.portrait {
  display: flex;
  height: 95vh;
  width: 100vw;
  background-image: url("../img/gray.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  justify-content: center;
  align-content: flex-end;
  img {
    margin-bottom: 4em;
    align-self: flex-end;;
    width: 350px;
  }
}

// about

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  p {
    text-align: center;
    margin: 0 3em;
    text-align: justify;
    max-width: 700px;
  }
}

  .about h1 {
    margin: 3em 0 1em 0;
  }

// projects

// .all-projects {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
// }

.all-projects h1 {
  margin: 3em 0 1em 0;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    max-width: 80%;
    max-height: auto;
    // margin: 2em 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
  }
  p {
    text-align: center;
  }
  img:hover {
    opacity:0.8;
    transition: opacity .5s ease-in-out;
  }
}

// creative

.creative h1 {
  margin: 3em 0 1em 0;
}
// connect

.connect {
  h1 {
    margin: 3em 0 1em 0
  }
  p {
    text-align: center;
    font-size: 24px;
  }
}

.connect-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em 4em;
  a {
    text-decoration: none;
  }
  img {
    margin-right: 1em;
  }
  p {
    font-size: 18px;
  }
}
