*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font,
}

p {
  font-family: $copy-font;
}

.portrait {
  display: flex;
  height: 95vh;
  width: 100vw;
  background-image: url("../img/gray.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  justify-content: center;
  align-content: flex-end;
  img {
    margin-bottom: 4em;
    align-self: flex-end;;
    width: 350px;
  }
}
